@charset "UTF-8";

/* エクソソームの働き */
#efficacy{
    background: linear-gradient(to bottom, #1e283d 50%, #1b3e6b);
    text-align: center;
}

.efficacy_bg{
    background-image: url(../images/bg_efficacy.svg);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 50%;
    padding: 70px 8vw 120px;
}

.efficacy_title{
    text-align: center;
}

.efficacy_title span{
    font-size: 128px;
    font-family: Cormorant;
    font-weight: 300;
    letter-spacing: 0.06em;
    color: rgba(70, 140, 190, 0.32);
}

.efficacy_title h2{
    font-size: 35px;
    line-height: 48px;
    letter-spacing: 0.08em;
    color: #fff;
    margin-top: -50px;
    z-index: 1;
}

.efficacy_text{
    text-align: center;
}

.efficacy_text h2{
    font-size: 35px;
    line-height: 48px;
    letter-spacing: 0.08em;
    color: #fff;
    margin-top: 80px;
}

.efficacy_text h3{
    color: #faf080;
    font-size: 22px;
    line-height: 38.5px;
    letter-spacing: 0.04em;
    margin-top: 60px;
}

.efficacy_text p{
    margin-top: 60px;
    color: #fff;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.04em;
}

.efficacy_figure{
    max-width: 980px;
    margin: 60px auto 0;
    padding: 50px 0 60px;
    background: radial-gradient(circle, #fff 0%, #fff 45%, #cbdde9 68%);
    box-shadow:  0 0 20px rgba(170, 210, 255, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.efficacy_figure_pc{
    width: 81.6%;
}

.arrow_efficacy{
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    line-height: 1;
    width: 150px;
    height: 150px;
    border: 1px solid currentColor;
    border-left: 0;
    border-bottom: 0;
    box-sizing: border-box;
    transform: rotate(135deg) skew(20deg, 20deg);
}

.efficacy_text h3:nth-child(2){
    margin-top: 40px;
}

.efficacy_box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    justify-items: center;
    max-width: 722px;
    margin: 60px auto 0;
}

.efficacy_item{
    width: 100%;
    aspect-ratio: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: radial-gradient(circle, #fff 0%, #fff 45%, #cbdde9 68%);
    box-shadow:  0 0 20px rgba(170, 210, 255, 0.6);
}

.efficacy_item h4{
    font-size: 22px;
    letter-spacing: 0.04em;
    color: #1a3d70;
}

.efficacy_item p{
    font-size: 16px;
    line-height: 30px;
    color: #1b1e2e;
    margin-top: 30px;
    padding: 0 10%;
}

/* PC版 */
@media screen and (min-width:768px){
    .efficacy_figure_sp{
        display: none;
    }
}

/* スマホ版 */
@media screen and (max-width:767px) {
    .efficacy_bg{
        padding: 60px 20px 80px;
        background-image: url(../images/bg_efficacy_sp.svg);
        background-size: 65.6vw;
    }

    .efficacy_title span{
        font-size: 60px;
    }

    .efficacy_title h2{
        font-size: 22px;
        margin-top: -30px;
    }

    .efficacy_text h3{
        font-size: 18px;
        margin-top: 30px;
    }

    .efficacy_figure{
        padding: 40px 20px;
    }

    .efficacy_figure_pc{
        display: none;
    }

    .efficacy_figure_sp{
        width: 100%;
    }

    .efficacy_text p{
        margin-top: 30px;
        text-align: justify;
    }

    .arrow_efficacy{
        width: 120px;
        height: 120px;
        margin-top: -20px;
    }

    .efficacy_text h2{
        margin-top: 60px;
        font-size: 22px;
    }

    .efficacy_text h3:nth-child(2){
        margin-top: 35px;
    }

    .efficacy_box{
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        row-gap: 30px;
    }

    .efficacy_item{
        width: 79.5vw;
    }

    .efficacy_item:nth-child(2n){
        align-self: end;
    }

    .efficacy_item p{
        text-align: left;
        margin-top: 25px;
        padding: 0 15%;
        letter-spacing: 0.04em;
    }

}