@charset "UTF-8";

/* アプローチ*/
#howwedo{
    background: linear-gradient(to bottom, #1e283d 50%, #1b3e6b);
    /* position: relative; */
}

.hwd_bg{
    background-image: url(../images/bg_hwd.svg);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 25%;
    padding: 70px 0;
}

.hwd_title{
    text-align: center;
}

.hwd_title span{
    font-size: 128px;
    font-family: 'Cormorant', serif;
    font-weight: 300;
    letter-spacing: 0.06em;
    color: rgba(70, 140, 190, 0.32);
}

.hwd_title h2{
    font-size: 35px;
    line-height: 48px;
    letter-spacing: 0.08em;
    color: #fff;
    margin-top: -50px;
    z-index: 1;
}

.hwd_text{
    text-align: center;
}

.hwd_text h3{
    color: #faf080;
    font-size: 22px;
    line-height: 38.5px;
    letter-spacing: 0.04em;
    margin-top: 60px;
}

.hwd_text p{
    margin-top: 35px;
    color: #fff;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.04em;
}

.hwd_figure{
    display: flex;
    column-gap: 60px;
    margin-top: 90px;
}

.hwd_figure h4{
    font-size: 22px;
    background-color: #fff;
    border-radius: 25px;
    box-shadow:  0 0 20px rgba(170, 210, 255, 0.6);
    text-align: center;
    color: #1a3d70;
    letter-spacing: 0.09em;
    padding: 10px 0 12px;
}

.hwd_figure_caption{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    margin-top: 25px;
}

.hwd_figure_caption p{
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.1em;
    color: #fff;
}

.hwd_figure_caption p span{
    font-size: 22px;
    letter-spacing: 0.12em;
    color: #faf080;
}

.hwd_figure_caption .arrow_hwd{
    width: 40px;
    margin: 0;
    padding: 0;
}

.hwd_figure_left{
    width: 50%;
}

.hwd_figure_left img{
    width: 100%;
    margin-top: 35px;
}

.hwd_figure_left .hwd_figure_caption p span{
    border-bottom: solid 1px #faf080;
    padding-bottom: 5px;
}

.hwd_figure_right{
    width: 50%;
}

.hwd_figure_right img{
    padding: 0 10px;
    width: 100%;
    box-sizing: border-box;
}

.hwd_figure_right .hwd_figure_caption:nth-of-type(1){
    padding-bottom: 30px;
    border-bottom: dotted 2px #fff;
}

.hwd_figure_right .hwd_safe_01{
    margin-top: 35px;
}

.hwd_figure_right .hwd_safe_02{
    margin-top: 30px;
    margin-bottom: 11px;
}

.hwd_figure_right .hwd_figure_caption p{
    border-bottom: solid 1px #faf080;
    padding-bottom: 5px;
}

.hwd_item{
    position: relative;
    margin-top: 40px;
}

.hwd_box{
    filter: drop-shadow(0 0 20px rgba(170, 210, 255, 0.6));
}

.hwd_box .outside{
    position: relative;
    max-width: 980px;
    min-height: 480px;
    background: #cad5e6;
    clip-path: polygon(4% 0, 96% 0, 100% 8%, 100% 92%, 96% 100%, 4% 100%, 0 92%, 0 8%);
}

.hwd_box .inside {
    position: absolute;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    clip-path: polygon(4% 0, 96% 0, 100% 8%, 100% 92%, 96% 100%, 4% 100%, 0 92%, 0 8%);
}

.hwd_item_01{
    margin-top: 130px;
}

.hwd_item_01 .inside{
    background: url(../images/bg_hwd_01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hwd_item_02 .inside{
    background: url(../images/bg_hwd_02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}

.hwd_item_03 .inside{
    background: url(../images/bg_hwd_03.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}

.hwd_item_01 .hwd_contents{
    padding-top: 45px;
    padding-left: 45px;
    width: 55%;
}

.hwd_title_01{
    width: 332px;
    height: 70px;
}

.hwd_title_02{
    width: 339px;
    height: 70px;
}

.hwd_title_03{
    width: 332px;
    height: 70px;
}

.hwd_contents h4{
    margin: 25px 0 0;
    color: #1b1e2e;
    font-size: 22px;
    line-height: 38.5px;
    letter-spacing: 0.04em;
}

.hwd_contents p{
    margin: 20px 0 0 ;
    color: #1b1e2e;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.04em;
    text-align: justify;
}

.hwd_img_01{
    position: absolute;
    bottom: 0;
    right: 8px;
    width: 44.9%;
    z-index: 1;
}

.hwd_item_02 .hwd_contents{
    display: flex;
    align-items: center;
    padding: 0 50px 0 35px;
    column-gap: 20px;
}

.hwd_item_02 .hwd_contents .hwd_contents_left{
    width: 45%;
}

.hwd_item_02 .hwd_contents .hwd_contents_left img{
    width: 100%;
}

.hwd_item_02 .hwd_contents .hwd_contents_right{
    width: 55%;
}

.hwd_item_03 .hwd_contents{
    display: flex;
    align-items: center;
    padding: 0 50px;
    column-gap: 20px;
}

.hwd_item_03 .hwd_contents .hwd_contents_left{
    width: 55%;
}

.hwd_item_03 .hwd_contents .hwd_contents_right{
    width: 45%;
}

.hwd_item_03 .hwd_contents .hwd_contents_right img{
    width: 100%;
}

/* スマホ版 */
@media screen and (max-width:767px){
    #howwedo{
        padding: 0;
    }

    .hwd_bg{
        padding: 50px 0px 80px;
        background-image: url(../images/bg_hwd_sp.svg);
        background-size: 23.3%;
    }

    .hwd_title{
        padding: 0 20px;
    }

    .hwd_title span{
        font-size: 60px;
    }

    .hwd_title h2{
        font-size: 22px;
        line-height: 35px;
        margin-top: -20px;
    }

    .hwd_text h3{
        margin-top: 40px;
        font-size: 18px;
        line-height: 31.5px;
        padding: 0 20px;
    }

    .hwd_text p{
        margin-top: 25px;
        text-align: justify;
        padding: 0 20px;
    }

    .hwd_figure{
        display: block;
        text-align: center;
        margin-top: 40px;
        padding:  0 20px;
    }

    .hwd_figure_left,
    .hwd_figure_right{
        width: 100%;
    }

    .hwd_figure h4{
        font-size: 18px;
    }

    .hwd_figure_caption{
        column-gap: 5px;
    }

    .hwd_figure_caption .arrow_hwd{
        width: 31px;
    }

    .hwd_figure_caption p{
        font-size: 16px;
        text-align: left;
        letter-spacing: 0.08em;
    }

    .hwd_figure_caption p span{
        font-size: 22px;
    }

    .hwd_figure_right{
        margin-top: 65px;
    }

    .hwd_figure_right img{
        padding: 0;
    }

    .hwd_figure_right .hwd_figure_caption:nth-of-type(1){
        padding-bottom: 35px;
    }

    .hwd_figure_right .hwd_safe_02{
        margin-top: 35px;
    }

    .hwd_item{
        display: none;
    }

    .hwd_item_sp:nth-child(2),
    .hwd_item_sp:nth-child(4){
        position: relative;
    }

    .hwd_item_sp .hwd_box .outside{
        position: relative;
        width: 100%;
        height: 620px;
        background: #cad5e6;
        -webkit-clip-path: polygon(10% 0, 100% 0, 100% 100%, 10% 100%, 0 95%, 0 5%);
        clip-path: polygon(8% 0, 100% 0, 100% 100%, 8% 100%, 0 95%, 0 5%);
    }
    
    .hwd_item_sp .hwd_box .inside{
        position: absolute;
        top: 1px;
        left: 1px;
        right: 1px;
        bottom: 1px;
        -webkit-clip-path: polygon(10% 0, 100% 0, 100% 100%, 10% 100%, 0 95%, 0 5%);
        clip-path: polygon(8% 0, 100% 0, 100% 100%, 8% 100%, 0 95%, 0 5%);
    }

    .hwd_item_sp .hwd_item_title{
        display: flex;
        justify-content: left;
    }

    .hwd_item_sp .hwd_box h4{
        font-size: 18px;
        line-height: 31.5px;
        letter-spacing: 0.04em;
        margin-top: 25px;
        padding: 0 15px;
        color: #1b1e2e;
    }

    .hwd_item_sp .hwd_box p{
        margin-top: 25px;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0.04em;
        padding: 0 15px;
        color: #1b1e2e;
        text-align: justify;
    }

    .hwd_item_01{
        margin-top: 80px;
        padding-left: 20px;
    }

   .hwd_item_01 .inside{
        background: url(../images/bg_hwd_01_sp.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .hwd_item_sp .hwd_title_01,
    .hwd_item_sp .hwd_title_02,
    .hwd_item_sp .hwd_title_03{
        width: 11.8vw;
        height: auto;
        margin-top: 35px;
        margin-left: 30px;
    }

    .hwd_item_sp .hwd_img_01{
        width: 69.2vw;
        position: absolute;
        right: 0;
        top: -9%;
        z-index: 1;
    }

    .hwd_item_02{
        margin-top: 40px;
        padding-right: 20px;
    }

    .hwd_item_02 .inside{
        display: block;
        background: url(../images/bg_hwd_02_sp.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .hwd_item_sp:nth-child(3) .hwd_box .outside{
        position: relative;
        max-width: 100%;
        height:580px;
        background: #cad5e6;
        -webkit-clip-path: polygon(95% 0, 100% 5%, 100% 95%, 95% 100%, 0 100%, 0 0);
        clip-path: polygon(95% 0, 100% 5%, 100% 95%, 95% 100%, 0 100%, 0 0);
    }
    
    .hwd_item_sp:nth-child(3) .hwd_box .inside{
        position: absolute;
        top: 1px;
        left: 1px;
        right: 1px;
        bottom: 1px;
        -webkit-clip-path: polygon(95% 0, 100% 5%, 100% 95%, 95% 100%, 0 100%, 0 0);
        clip-path: polygon(95% 0, 100% 5%, 100% 95%, 95% 100%, 0 100%, 0 0);
    }

    .hwd_item_sp:nth-child(3) .hwd_item_title{
        justify-content: right;
    }

    .hwd_item_sp .hwd_title_02{
        width: 11.8vw;
        height: auto;
        margin-left: 15px;
        margin-right: 30px;
    }

    .hwd_img_02{
        width: 63.1vw;
        margin-top: 20px;
    }

    .hwd_item_03{
        margin-top: 40px;
        padding-left: 20px;
    }

    .hwd_item_03 .inside{
        display: block;
        background: url(../images/bg_hwd_03_sp.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .hwd_item_sp .hwd_img_03{
        width: 60vw;
        position: absolute;
        right: 30px;
        top: -2%;
        z-index: 1;
    }

}

/* PC版 */
@media screen and (min-width:768px){
    .hwd_item_sp{
        display: none;
    }
}

/* タブレット版 */
@media screen and (min-width:768px) and (max-width:1024px){
    .hwd_box .inside{
        
    }
}

/* 375px */
@media screen and (max-width:389px){
    .hwd_item_sp .hwd_box .outside{
        height: 680px;
    }
}